.img_wrapper{
    width: 600px;
}
.form_container{
    transform: translateX(100px);
    .form{
        box-shadow: 0 0 3px 2px #ddd;
        padding:20px;
        border-radius: 20px;
    }
    .btn_position{
        right: 150px;
        bottom : 50px
    }

}
@media (max-width : 660px) { 
    .form_container{
        transform: translateX(20px);

    }
}